/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default button */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.6em 1.4em;
  color: #fff !important;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #0071e3;
  border: 0 !important;
  border-radius: 980px;
  cursor: pointer;
  -webkit-transition: $global-transition;
          transition: $global-transition;

  &:hover {
    background-color: #0077ED;
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* fills width of parent container */

  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */

  &--inverse {
    color: #1d1d1f !important;
    border: 1px solid #d2d2d7 !important; /* override*/
    background-color: #fff;

    &:hover {
      color: #0071e3 !important;
      border-color: #0071e3;
      background-color: rgba(0, 113, 227, 0.04);
    }
  }

  /* light outline */

  &--light-outline {
    border: 1px solid #fff !important; /* override*/
    background-color: transparent;
  }

  /* information */

  &--info {
    background-color: #0071e3;

    &:hover {
      background-color: #0077ED;
    }
  }

  /* warning */

  &--warning {
    background-color: #ff9f0a;

    &:hover {
      background-color: #ffB340;
    }
  }

  /* success */

  &--success {
    background-color: #30d158;

    &:hover {
      background-color: #5DD87A;
    }
  }

  /* danger */

  &--danger {
    background-color: #ff453a;

    &:hover {
      background-color: #FF6961;
    }
  }

  /* disabled */

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */

  $social:
  (facebook, $facebook-color),
  (twitter, $twitter-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }

  /* extra large button */

  &--x-large {
    font-size: $type-size-4;
  }

  /* large button */

  &--large {
    font-size: $type-size-5;
  }

  /* small button */

  &--small {
    font-size: $type-size-7;
  }
}